<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
	<script type="text/javascript">
	ShopifyApp.init({
		apiKey: '<%= api_key %>',
		shopOrigin: 'https://<%= shop %>.myshopify.com'
	});
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/foundation.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<title><%= title %></title>
</head>
<body>
	<script type="text/javascript">
	ShopifyApp.ready(function(){
		ShopifyApp.Bar.initialize({
			title: '<%= title %>',
			icon: '/images/logo.png'
		});
		ShopifyApp.Bar.loadingOff();
	});

	var busy = false;
	$(document).ready(function() {

		$(".switch").click(function() {
			if(busy) return;

			busy = true;
			if(!$(this).hasClass("on")) {
				// Activate
				$.get("/activate", function(data) {
					$(".switch").addClass("on");
					ShopifyApp.flashNotice("PayPal Button has been hidden!");
					busy = false;
				});
			}
			else {
				// Deactivate
				$.get("/deactivate", function(data) {
					$(".switch").removeClass("on");
					ShopifyApp.flashNotice("PayPal Button has been put back!");
					busy = false;
				});
			}
		});

	});
	</script>

	<h1>Show/Hide all PayPal buttons with a simple switch!</h1>

	<span class="switch <%= state %>"></span> Hide Checkout with PayPal<br>
	<br>
	<i>Changes may be applied after few seconds</i>

</body>
</html>
